<div class="events by-day">
	<h2><%=h @today %></h2>

	<% for event in @events %>
		<div class="event">
			<div class="button left"><a href="#"><img class="icon" src="/images/ticket.png" alt="Event" /></a></div>
			<div class="button right"><a href="#"><img class="icon" src="/images/clock.png" alt="Time" /></a></div>
			<div class="info">
				<div class="time"><%= event.time %></div>
				<div class="name"><%= event.name %></div>
				<div class="location">(<%= event.location %>)</div>
				<!--
				<div class="clear"></div>
				-->
				<!--
				<div class="cost"><%= event.cost %></div>
				-->
			</div>
		</div>
	<% end %>
	<% if @and_more_later %>
		<h2>And look forward to more later tonight...</h2>
	<% end %>
</div>
