<div class="events by-day">
	<% for day in ['Thursday', 'Friday', 'Saturday', 'Sunday'] %>
	<h2><%=h day %></h2>

	<% for event in Event.find(:all, :conditions => { :date => day }) %>
		<div class="event">
			<div class="button favorite"><a href="#"><img class="icon" src="/images/favorite.png" alt="Favorite" /></a></div>
			<div class="button delete"><a href="#"><img class="icon" src="/images/delete.png" alt="Delete" /></a></div>
			<div class="info">
				<div class="time"><%= event.time %></div>
				<div class="name"><%= event.name %></div>
				<div class="location">(<%= event.location %>)</div>
				<!--
				<div class="clear"></div>
				-->
				<!--
				<div class="cost"><%= event.cost %></div>
				-->
			</div>
		</div>
	<% end %>

	<% end %>
</div>
