<h1>Listing events by day</h1>

<style type="text/css">
	.event {
		width: 320px;
	}
	.event .favorite {
		float: left;
		width: 30px;
		margin-right: 10px;
	}
	.event .delete {
		float: right;
		width: 30px;
		margin-left: 10px;
	}
	.event .info {
		margin-left:  30px;
		margin-right: 30px;
	}
</style>

<% for day in ['Thursday', 'Friday', 'Saturday', 'Sunday'] %>
<h2><%=h day %></h2>

<% for event in Event.find(:all, :conditions => { :date => day }) %>
	<div class="event">
		<img class="favorite" src="/images/favorite.png" alt="Favorite" />
		<img class="delete" src="/images/delete.png" alt="Delete" />
	<p class="info"><%=h event.time %>.  Film: <strong><%= event.name %></strong> (<%=h event.location %>) <%=h event.cost %></p>
	</div>
<% end %>

<% end %>

