<h1>Listing events by day</h1>

<% for day in ['Thursday', 'Friday', 'Saturday', 'Sunday'] %>
<h2><%=h day %></h2>

<% for event in Event.find(:all, :conditions => { :date => day }) %>
	<p><%=h event.time %>.  Film: <strong><%= event.name %></strong> (<%=h event.location %>) <%=h event.cost %></p>
<% end %>

<% end %>

